@import "tailwindcss";


@theme {
  --animate-spin-slow: spin 1.5s, ease-in, infinite;
  @keyframes spin {
      0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  --color-black: #0A142F;
  }

